html {
  height: 100%;
  width: 100%;
}
html body {
  height: 100%;
  width: 100%;
}
html body #app {
  background: transparent;
  color: #444;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}
html body #app .turns {
  padding: 10px;
  background: #f2f2f2;
  overflow: hidden;
  display: flex;
}
html body #app .turns ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  margin: 0px;
  padding: 0px;
}
html body #app .turns ul li {
  padding: 0 7.5px;
  display: inline;
}
html body #app .status {
  background-color: #f8f8f8;
  padding: 10px 15px;
  border: 1px solid #dddddd;
}
html body #app .status .name-character h3 {
  font-size: 20px;
  font-weight: 700;
  color: #666;
}
html body #app .status#hero .health-bar {
  background: rgba(105, 187, 57, 0.3);
  border: 2px solid rgba(105, 187, 57, 0.4);
}
html body #app .status#hero .health-bar .health {
  background: #69bb39;
}
html body #app .status#hero .health-bar span {
  color: #167315;
}
html body #app .status .health-bar {
  position: relative;
  width: 100%;
  height: 30px;
  background: rgba(228, 56, 64, 0.3);
  border: 2px solid rgba(228, 56, 64, 0.4);
}
html body #app .status .health-bar .health {
  height: 100%;
  background: #e43840;
  font-weight: 500;
  transition: 0.3s ease;
}
html body #app .status .health-bar span {
  position: absolute;
  display: block;
  color: #8a1117;
  font-weight: 500;
  font-size: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html body #app .status .mana-bar {
  position: relative;
  width: 100%;
  height: 20px;
  background: rgba(71, 154, 243, 0.3);
  border: 2px solid rgba(71, 154, 243, 0.4);
  margin-top: 5px;
}
html body #app .status .mana-bar .mana {
  height: 100%;
  background: #479af3;
  font-weight: 500;
  transition: 0.3s ease;
}
html body #app .status .mana-bar span {
  position: absolute;
  display: block;
  color: #064b96;
  font-weight: 500;
  font-size: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html body #app .status .status-HUD .list-status {
  padding: 10px;
  list-style-type: none;
  margin: 0px;
  display: flex;
  justify-content: space-around;
}
html body #app .status .status-HUD .list-status .item-status {
  font-weight: 700;
  font-size: 18px;
  color: #666;
  display: inline-flex;
  align-items: center;
  cursor: context-menu;
  user-select: none;
}
html body #app .status .status-HUD .list-status .item-status img {
  margin-right: 5px;
  height: 22px;
}
html body #app .action-buttons button.disabled, html body #app .action-buttons a.disabled {
  cursor: not-allowed;
}
html body #app .action-buttons button small, html body #app .action-buttons a small {
  font-size: 11px;
}
html body #app .action-buttons button.btn-gray, html body #app .action-buttons a.btn-gray {
  background: #f2f2f2;
  color: #666;
  font-weight: bold;
}
html body #app .battle-info {
  background: #fafafa;
  box-shadow: 1px 2px 6px #00000022, 0px 0px 6px #00000022;
  padding: 15px;
  list-style: none;
  overflow: auto;
}
html body #app .battle-info li {
  padding: 5px;
  margin: 5px 0px;
  position: relative;
}
html body #app .battle-info li.hero-log {
  background: #dcf1cf;
  color: #167315;
  font-weight: 500;
}
html body #app .battle-info li.hero-log .rounds:before {
  content: "";
  background: rgba(22, 115, 21, 0.2);
  width: 2px;
  height: 70%;
  right: 0px;
  position: absolute;
}
html body #app .battle-info li.monster-log {
  background: #fcecec;
  color: #8a1117;
  font-weight: 500;
}
html body #app .battle-info li.monster-log .rounds:before {
  content: "";
  background: rgba(138, 17, 23, 0.2);
  width: 2px;
  height: 70%;
  right: 0px;
  position: absolute;
}
html body #app .battle-info li .rounds {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .title-game {
    font-size: 30px;
  }

  .name-character h3 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
